{% extends "reviews/base.html" %}


    {% block title %}
    Your Review
    {% endblock title %}


    {% block content %}
    
       <form action="/" method="POST">
        {% csrf_token %}
        {% if has_error %}
            <p>Please add a value</p>
        {% endif %}
        {% for field in form  %}
            <div class="form-control{% if form.user_name.errors %}errors{% endif %}">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
        {% endfor %}
        <button type="submit">Send</button>
    </form>

    {% endblock content %}



 